body,html{
    height:100%;
    padding:0px;
    margin:0px;
    background-image:url(../img/fondo2.png);
    width: 100%;
    background-size: cover;
    background-position: center;
}
.a{width:100%;height:90px;overflow:hidden;position:fixed;top:0px}
.b{width:100%;height:100%;overflow:hidden;}
.c{position:fixed;top:0px;bottom:0px;left:0px;right:0px;z-index:1}
.d{position:fixed;bottom:0px;height:10%;width:100%;}
#nave{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%
}
#nave img{
    height:100%;
}
#cpanel{}
/*#hidem,#showm{float:right}*/
.volver a{
    padding: 20px;
    background-color: red;
    font-size: 20px;
    text-decoration:none;
    position: relative;
    color: black;
}
.manual {
    display:inline-block;        
    width: 125%;           
    position: fixed;
    top: 35%;
}

.manual a{
    padding: 15px;
    background-color: red;
    font-size: 12px;
    text-decoration:none;
    position: relative;
    color: black;
}

.reset {
    display:inline-block;          
    width: 125%;          
    position: fixed;
    top: 45%;
}

.reset a{
    padding: 15px;
    background-color: red;
    font-size: 12px;
    text-decoration:none;
    position: relative;
    color: black;
}

.parar {
    display:inline-block;          
    width: 125%;           
    position: fixed;
    top: 55%;
}

.parar a{
    padding: 15px;
    background-color: red;
    font-size: 12px;
    text-decoration:none;
    position: relative;
    color: black;
}


.manual-usuario {
    display:inline-block;         
    height: 30%;   
    position: fixed; 
    top: 15%;
    margin: auto;
    right: 0%;
    left: 0%;
}

.volver {
    display:inline-block;          
    width: 125%;          
    position: fixed;
    top: 5%;
    left: 70%;
}

.volver a{
    padding: 15px;
    background-color: red;
    font-size: 15px;
    text-decoration:none;
    position: relative;
    color: black;
}

#luna  {
    display:inline-block;         
    width: 90%;    
    position: fixed;
    bottom: 0%;
    margin: auto;
    right: 0%;
    left: 0%;
}

.velocidad {
	display:inline-block;         
    width: 30%;           
    position: fixed;
    top: 2%;
    left: 0%;
}
#velocidad {
	display:inline-block;         
    width: 15%;           
    position: fixed;
    top: 6.5%;
    left: 11%;
}

.altura {
	display:inline-block;          
    width: 30%;          
    position: fixed;
    top: 2%;
    left: 36%;
}

#altura {
	display:inline-block;          
    width: 30%;          
    position: fixed;
    top: 6.5%;
    left: 49%;
}

.fuel {
	display:inline-block;        
    width: 30%;         
    position: fixed;
    top: 2%;
    left: 71%;
}

#fuel {
	display:inline-block;        
    width: 30%;         
    position: fixed;
    top: 6.5%;
    left: 83%;
}


